* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
    user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(145, 58, 58);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* nav bar section */

.navbar {
    /* background-color: rgba(255, 255, 255, 0.362); */
    /* position: fixed; */
    padding-bottom: 20px;
    margin: 0px 30px;

    /* border-bottom: 2px solid white ; */
}

.navbar ul {
    /* position: fixed; */
    display: flex;
    justify-content: right;
    padding-right: 100px;
    gap: 50px;
}

.navbar ul li {
    list-style-type: none;
    padding-top: 20px;
    font-size: 15px;
    border-bottom: 2px solid;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

/* home section */

#homee {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 30px 30px;
    padding: 120px 120px;
    /* background-color: black; */
    /* border-top: 2px solid rgb(255, 255, 255); */
}

.lineplot {
    position: absolute;
    left: 256px;
    bottom: 190px;
    /* transform: rotate(90deg); */
}

.subheading {
    position: absolute;
    /* transform: rotate(90deg); */
    bottom: 200px;
    left: 270px;
    font-size: 45px;
    opacity: .6;
}

.elipse {
    position: absolute;
    top: -20px;
    width: 900px;
    height: 900px;
    right: 50px;
}

.intro {
    position: absolute;
    top: 180px;
    left: 30px;
    padding-right: 350px;
    font-size: 80px;
    border-top: 3px solid;
    border-right: 3px solid;
    border-radius: 0px 35px 0px 0px;
}

.name {
    position: absolute;
    top: 265px;
    left: 30px;
    font-size: 60px;
    margin-right: 50px;
    font-family: serif;
}

.design1 {
    position: absolute;
    top: 40px;
    right: 40px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-radius: 0px 10px 0px 0px;
    color: black;
    font-size: 30px;
}

.design2 {
    position: absolute;
    top: 500px;
    right: 500px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-radius: 0px 10px 0px 0px;
    color: #edbebe00;
    font-size: 30px;
    transform: rotate(180deg);
}

.design3 {
    position: absolute;
    top: 190px;
    left: 280px;
    margin: 10px;
    padding: 10px 300px 100px 10px;
    border-radius: 20px;
    opacity: 0.7;
    /* border: 2px solid red; */
    background-color: #edbebe2f;
}

.button1 {
    position: absolute;
    top: 480px;
    left: 255px;
    background-color: #edbebe7d;
    font-size: 20px;
    border: none;
    padding: 15px 32px;
    color: white;
    border-radius: 30px;
    transition: 1s all;
    /* box-shadow: 0 0 40px 10px #edbebe7d; */
}

.button1:hover {
    box-shadow: 0 0 40px 10px #edbebe7d;
}

.image_box {
    position: relative;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 90px 4px #edbebe7d;
}

.image_box_inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.image_box:hover .image_box_inner {
    transform: rotateY(180deg);
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.black{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.group10 {
    position: absolute;
    z-index: -2;
    right: 54px;
    top: 55px;
    opacity: .8;
}

.image1 {
    padding: 4px;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    /* background-color: rgb(122, 122, 122); */
}

/* projectss sections */

#projectss {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 100px 30px 0px;
    padding: 160px 0px 151px 240px;
}

.heading1 {
    position: absolute;
    top: 31px;
    left: 60px;
    font-size: 40px;
}

.design4 {
    position: absolute;
    top: 424px;
    left: -271px;
    transform: rotate(90deg);
}

.design5 {
    position: absolute;
    top: 141px;
    left: 273px;
    padding: 80px;
    border-top: 3px solid;
    border-left: 3px solid;
    border-radius: 3px 0px;
    /* background-color: blue; */
}

.design6 {
    position: absolute;
    top: 507px;
    right: 10px;
    padding: 80px;
    border-bottom: 3px solid;
    border-right: 3px solid;
    border-radius: 60px 0px;
}

.design7 {
    position: absolute;
    top: -1px;
    left: 130px;
    z-index: -2;
    opacity: .4;
}

.btn-1 {
    position: absolute;
    display: flex;
    padding: 30px;
    bottom: 40px;
    left: 131px;
    /* background-color: red; */
}

.g1 {
    font-style: italic;
    font-size: 22px;
    padding-top: 16px;
    padding-right: 30px;
}

.g9 {
    height: 60px;
    width: 60px;
    /* padding-top: 4px; */
    transition: 1s all;
    border-radius: 50%;
}

.g9:hover {
    box-shadow: 0 0 40px 10px #edbebe7d;
}

.card1 {
    display: flex;
    background-color: #705858;
    padding: 10px 10px 10px 10px;
    border-radius: 2px 60px;
}

.ffff {
    height: 200px;
    width: 200px;
    border-radius: 2px 50px;
}

.text1 {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;

}

.card2 {
    background-color: #288b84f9;
    padding: 10px;
    border-radius: 12px;

}

.card2eeee{
    height: 200px;
    width: 200px;
    border-radius: 12px;
    border: 1px solid #AFCEEE;
}

.eeee {
    height: 200px;
    width: 200px;
    border-radius: 12px;
}

.card3 {
    background-color: #705858;
    padding: 10px;
    border-radius: 12px;
}

.card4 {
    background-color: #705858;
    padding: 10px;
    border-radius: 12px;
}

.card5 {
    background-color: #705858;
    padding: 10px;
    border-radius: 12px;
}

.card6 {
    background-color: #705858;
    padding: 100px 500px 100px 100px;
    border-radius: 60px 2px;
}

/* skills section */

#skills {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: right;
    padding: 95px 30px 30px 240px;
    margin: 30px;
}

.text {
    position: absolute;
    top: 455px;
    left: 120px;
    font-size: 20px;
    border-top: 3px solid;
    border-left: 3px solid;
    border-radius: 30px 0px 0px 0px;
    padding: 20px;
    /* box-shadow: 10px 10px 30px -6px #705858 inset; */
}

.design8 {
    position: absolute;
    top: 73px;
    left: 515px;
    padding: 90px;
    /* background-color: red; */
    border-top: 2px solid;
    border-left: 2px solid;
    border-radius: 170px 0px 0px 0px;
    box-shadow: 0 0 30px 1px #AFCEEE;
    z-index: -2;
}

.design9 {
    position: absolute;
    top: 624px;
    right: 40px;
    padding: 60px;
    transform: rotate(180deg);
    border-top: 2px solid;
    border-left: 2px solid;
    border-radius: 170px 0px 0px 0px;
    box-shadow: 0 0 30px 7px #e8e9e38f;
    z-index: -2;
}

.design10 {
    position: absolute;
    top: 457px;
    left: 506px;
    opacity: .6;
}

/* .s1{
    
} */

.suit1 {
    /* position: absolute; */
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 30px 1px #AFCEEE;
}

.s2 {
    padding: 100px 30px 0px 30px;
}

.suit2 {
    /* position: absolute; */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 30px 7px #cfdb2a8f
}

.suit3 {
    /* position: absolute; */
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 30px 1px #cfd7e0;
}

.suit4 {
    /* position: absolute; */
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 30px 1px #f4a931;
}

.suit5 {
    /* position: absolute; */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 30px 7px #d4d4cde8
}

/* about me section */

#aboutmee {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
    margin: 30px 30px 250px 30px;
    padding: 100px 30px 0px 100px;
}

.sub_design {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 168px;
    left: 102px;
    z-index: -2;
}

.sub_design1 {
    position: absolute;
    bottom: -90px;
    right: 280px;
    margin: 10px;
    padding: 10px 300px 100px 10px;
    border-radius: 20px;
    opacity: 0.7;
    /* border: 2px solid red; */
    background-color: #edbebe95;
    box-shadow: 0 0 30px 10px #705858;
}

.box1 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 100px 30px 30px 30px;
}

.text_box1 {
    padding: 20px;
    background-color: #edbebe7d;
    border-radius: 30px 3px;
}

.text_box2 {
    padding-top: 10px;
    font-size: 30px;
}

.heading2 {
    padding: 60px 0px 5px 15px;
    font-size: 20px;
}

.subheading1 {
    padding: 10px 0px 0px 40px;
    font-size: 16px;
    font-style: italic;
}

.about_box1 {
    position: absolute;
    top: 100px;
    right: -6px;
    margin: 30px;
    padding: 30px;
    border: 2px solid;
    border-radius: 120px 10px;
}

.image2 {
    width: 400px;
    height: 500px;
    border-radius: 120px 10px;
    box-shadow: 0 0 30px 10px #705858;
}

.contactmee {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
    margin: 30px;
    padding: 100px 30px 0px 100px;
}

.design11 {
    position: absolute;
    top: 220px;
    left: -56px;
    transform: rotate(90deg);
}

.design12 {
    position: absolute;
    top: 338px;
    left: 63px;
}

.text_box3 {
    margin-left: 50%;
    margin-top: 245px;
    margin-bottom: 0px;
    padding: 20px 300px 350px 300px;
    background-color: #edbebe7d;
    /* border-radius: 30px 3px ; */
}