*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(145, 58, 58); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

body {
    background-color: rgb(0, 0, 0);
    color: white;
    
}

/* nav bar section */

.navbar ul {
    display: flex;
    justify-content: right;
    padding-right: 100px;
    gap: 50px;
}

.navbar ul li {
    list-style-type: none;
    padding-top: 20px;
    font-size: 15px;
    border-bottom: 2px solid;
}

/* home section */

.homee {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px; 
    padding: 120px 120px;
    border-top: 2px solid rgb(255, 255, 255);
}

.lineplot {
    position: absolute;
    left: 256px;
    bottom: 190px;
    /* transform: rotate(90deg); */
}

.subheading {
    position: absolute;
    /* transform: rotate(90deg); */
    bottom: 200px;
    left: 270px;
    font-size: 45px;
    opacity: .6;
}

.elipse{
    position: absolute;
    top: -20px;
    width: 900px;
    height: 900px;
    right: 50px;
}

.intro {
    position: absolute;
    top: 180px;
    left: 30px;
    padding-right: 350px;
    font-size: 80px;
    border-top: 3px solid;
    border-right: 3px solid;
    border-radius: 0px 35px 0px 0px;
}

.name{
    position: absolute;
    top: 265px;
    left: 30px;
    font-size: 60px;
    margin-right: 50px ;
    font-family: serif; 
}

.design1 {
    position: absolute;
    top: 40px;
    right: 40px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-radius: 0px 10px 0px 0px;
    color: black;
    font-size: 30px;
}

.design2 {
    position: absolute;
    top: 500px;
    right: 500px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-radius: 0px 10px 0px 0px;
    color: #edbebe00;
    font-size: 30px;
    transform: rotate(180deg);
}

.design3 {
    position: absolute;
    top: 190px;
    left: 280px;
    margin: 10px;
    padding: 10px 300px 100px 10px;
    border-radius: 20px;
    /* border: 2px solid red; */
    background-color: #edbebe2f;
}

/* .text_box{
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-radius: 50px 0px 0px;
    padding-left: 00px;
} */

.button1 {
    position: absolute;
    top: 480px;
    left: 255px;
    background-color: #edbebe7d;
    font-size: 20px ;
    border: none;
    padding: 15px 32px;
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 40px 10px #edbebe7d;
}

.image_box {
    position: relative;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 90px 4px #edbebe7d;
}

.group10{
    position: absolute;
    z-index: -2;
    right: -70px;
    top: -70px;
    opacity: .8;
}

.image1 {
    padding: 4px;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}




